.search{
  color: coral;
  background-color: cornsilk;
}
.catalog{
  padding: 2%;
  background-color: white;
}
.nama-catalog{
  background-color: coral
  ;
  margin-right: 2%;
}
.img-catalog{
  text-align: center;
}
footer{
  background-color: coral;
}