body{
  margin: 0px;
  padding: 0px;
}
header{
  border-bottom: solid darkslategrey;
}

.slider{
  background-color: burlywood;
}
.search{
  color: coral;
  background-color: cornsilk;
}
.catalog{
  background-color:coral;
  width: 100%;
  border: solid burlywood;
}
.nama-catalog{
  background-color: coral
  ;
  display: block;
  line-height:100%;
}

.img-catalog{
  text-align: center;
  background-color: darksalmon;
}
.catalog_image{
  padding: 5px;
}
.next-catalog{
  background-color: coral;
}
footer{
  background-color:khaki;
}
.container{
  margin: 0px;
}